[package]
name = "lumen-cli"
version.workspace = true
edition.workspace = true

[[bin]]
name = "lumen"
path = "src/main.rs"

[[bin]]
name = "lpm"
path = "src/lpm.rs"

[[bin]]
name = "lpx"
path = "src/lpx.rs"

[dependencies]
lumen-compiler = { path = "../lumen-compiler" }
lumen-vm = { path = "../lumen-vm" }
lumen-runtime = { path = "../lumen-runtime" }
serde = { workspace = true }
serde_json = { workspace = true }
clap = { workspace = true }
toml = { workspace = true }
